{% load static %}
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu" style="background-color:#1E1E2D">

    <div data-simplebar class="h-100">

        <!--- Sidebar start -->
        <div id="sidebar-menu">
             <ul class="metismenu list-unstyled " id="side-menu">
                        <li>
                            <a href="dashboard">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-dashboard">Dashboard</span>
                            </a>
                        </li>


                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <!-- <img class="menuic" src="{% static 'images/Vector.png' %}"> -->
                                <img class="menuic" src="{% static 'images/Vector.png' %}">

                                <span data-key="t-ecommerce">Account</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="company" key="t-products">Company Information</a></li>
                                <li><a href="tplmaster" >TPL Master</a></li>
                                <li><a href="toolmaster">Tool Master</a></li>
                                <li><a href="pdi_master">PDI Master</a></li>
                                <li><a href="processmaster">Process Master</a></li>
                                <li><a href="dms_master">DMS Master</a></li>
                                <li><a href="employee">Employee</a></li>
                                <li><a href="toolwarningmaster">Tool Warning Master</a></li>
                                <li><a href="packing">Packing</a></li>
                                <li><a href="drivecouplingmaster">Drive Coupling Master</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-email">HRMS</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="childpartdetails" >Child Part Details</a></li>
                                <li><a href="orderrelease" >Order Release</a></li>
                                <li><a href="orderreleaseerrortable" >Order Release Error Table</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-contacts">Scales & Marketing</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="childpartdropdown" data-key="t-user-grid">Child Part Drop Down</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-tasks">Warehouse</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="breakdisplayconfiguration" key="t-task-list">Break Display Configuration</a></li>
                                <li><a href="holiday" key="t-task-list">Holiday</a></li>
                                <li><a href="message" key="t-task-list">Message</a></li>
                                <li><a href="messageconfiguration">Message Configurator</a></li>
                                <li><a href="shiftandbreak" key="t-create-task">Shift &  Break</a></li>
                            </ul>
                        </li>

                         <li>
                            <a href="stationbypass">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-dashboard">Inventory</span>
                            </a>
                         </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-toolmaster">Production & Planning</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="toolmaintenance">Tool Maintenance</a></li>
                                <li><a href="tooltraceability">Tool Traceability</a></li>

                            </ul>
                        </li>



                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-multi-level">Logistics</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="testboothmaster" data-key="t-level-1-1">Test Booth Master</a></li>
                                <li><a href="testboothmaster" data-key="t-level-1-1">Test Booth Library</a></li>
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow" data-key="t-level-1-2">Test Certificates</a>
                                    <ul class="sub-menu" aria-expanded="true">
                                        <li><a href="testcertificate1" data-key="t-level-2-1">F2 ALPHA EG11,EG15,EG18,EG22</a></li>
                                        <li><a href="testcertificate2" data-key="t-level-2-2">F3ALP-EG22P,EG26,EG30,EG37,EG45</a></li>
                                        <li><a href="testcertificate3" data-key="t-level-2-1">F4 EG75</a></li>
                                        <li><a href="testcertificate4" data-key="t-level-2-2">F4ALPHA-EG45P,EG55</a></li>
                                        <li><a href="testcertificate5" data-key="t-level-2-1">EN53,73 V3 EN2 to EN15</a></li>
                                        <li><a href="testcertificate6" data-key="t-level-2-2">EN102 V2 EN15X to EN30 </a></li>
                                        <li><a href="testcertificate7" data-key="t-level-2-1">EN159 EN30X to EN45</a></li>
                                        <li><a href="testcertificate8" data-key="t-level-2-2">EN159SBD</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-Operatorscreen">Maintenance</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="listoffabnumber">List Of FAB Number</a></li>
                                <li><a href="scanfabnumber">Scan Fab Number</a></li>
                                <li><a href="starttest">Start Test</a></li>

                            </ul>
                        </li>

                         <li>
                            <a href="reports" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-Operatorscreen">Plan Maintenance</span>
                            </a>
                        </li>


                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-Operatorscreen">Pricing Maintenance</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="pdi">PDI Information</a></li>
                                <li><a href="pdi_2">PDI 2</a></li>
                                <li><a href="pdi_3">PDI 3</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-Operatorscreen">Zone Management</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="process">Process info</a></li>
                                <li><a href="process_p">Process</a></li>
                                <li><a href="alphaline">Alpha Line</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-Operatorscreen">Langauge Name</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="process">Process info</a></li>
                                <li><a href="process_p">Process</a></li>
                                <li><a href="alphaline">Alpha Line</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-Operatorscreen">Rules List</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="process">Process info</a></li>
                                <li><a href="process_p">Process</a></li>
                                <li><a href="alphaline">Alpha Line</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <img class="menuic" src="{% static 'images/Vector.png' %}">
                                <span data-key="t-Operatorscreen">Check List</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="process">Process info</a></li>
                                <li><a href="process_p">Process</a></li>
                                <li><a href="alphaline">Alpha Line</a></li>
                            </ul>
                        </li>
                    </ul>

        </div>
        <!-- Sidebar end-->
    </div>
</div>
<!-- Left Sidebar End -->