<!-- ========== Left Sidebar Start ========== -->
<link href="assets/css/feather.css" rel="stylesheet" type="text/css">
<div class="vertical-menu" style="background-color:#FFF">

    <div data-simplebar class="h-100">

        <!--- Sidebar start -->
        <div id="sidebar-menu">
             <ul class="metismenu list-unstyled" id="side-menu">

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="home"></i>
                                <span data-key="t-dashboard">Compressor Status</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="compressprocessstatus" key="t-products">Compress Process Status</a></li>
                                <li><a href="lnserverstatus" key="t-products">LN Server Status</a></li>
                            </ul>                            
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="trello"></i>
                                <span data-key="t-tasks">Process Details</span>
                            </a>

                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="processstatus" key="t-products">Process Status</a></li>
                                <li><a href="lnerpstatus" key="t-products">LN EPR Status</a></li>
                            </ul>
                            
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="home"></i>
                                <span data-key="t-dashboard">Process Map</span>
                            </a>

                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="tpldetails" key="t-products">TPL Details</a></li>
                                <li><a href="processsequence" key="t-products">Process Sequence</a></li>
                            </ul>
                            
                        </li>

                        

                    </ul>

        </div>
        <!-- Sidebar end-->
    </div>
</div>
<!-- Left Sidebar End -->