{% load static %}
<header id="page-topbar" style="background-color:#1A1617">
    <div class="navbar-header" style="background-color:#fff" >
        <div class="d-flex" >
            <!-- LOGO -->
            <div class="navbar-brand-box"  style="background-color:#fff;">
                <div class="position-relative mt-2 mx-2">
                    <img src="{% static 'images/qb.png' %}" alt="" style="height: 48px; width: 91px;">
                 </div>


            </div>
             <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn" style="background-color:#fff;">
                    <i class="fa fa-fw fa-bars text-dark"></i>
                </button>
            <!-- App Search-->
            {% comment %} <span class="app-search d-none d-lg-block">
                <div class="position-relative my-2 mx-2">
                   <img src="{% static 'images/logo.png' %}" alt="" height="25">
                </div>
            </span> {% endcomment %}
        </div>
        <div class="d-flex">
            <div class="dropdown d-inline-block d-lg-none ms-2">
                <button type="button" class="btn header-item" id="page-header-search-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather="search" class="icon-lg"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-search-dropdown">
                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..." aria-label="Search Result">

                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- start Notification -->
            
            <!-- end notification -->

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item bg-soft-light border-start border-end" id="page-header-user-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle" style="font-size:36px"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="apps-contacts-profile.html"><i class="mdi mdi-face-profile font-size-16 align-middle me-1"></i> Profile</a>
                    <a class="dropdown-item" href="auth-lock-screen.html"><i class="mdi mdi-lock font-size-16 align-middle me-1"></i> Lock screen</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="auth-logout.html"><i class="mdi mdi-logout font-size-16 align-middle me-1"></i> Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>