{% load static %}
{% include 'general/main.html' %}
<head>


    {% include 'general/title_meta.html' %}
    <!-- plugin css -->
    <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css"/>



     <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    {% include 'general/head_css.html' %}

</head>
{% include 'general/body.html' %}
<!-- Begin page -->
<div id="layout-wrapper">
{% include 'general/menu.html' %}

     <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                {% include 'general/page_title.html' %}
                <!-- company page start -->
                <div class="row">


                            <div class="col-xl-12">
                                <div class="card">
                                      <!-- <div class="card-header">
                                     <h4 class="card-title">Justify Tabs</h4>
                                        <p class="card-title-desc"></p>
                                    </div>--><!-- end card header -->

                                    <div class="card-body">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-pills nav-justified" role="tablist">
                                            <li class="nav-item waves-effect waves-light">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#employesedetails" role="tab">
                                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                    <span class="d-none d-sm-block">Packageing</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content p-3 text-muted">
                                            <div class="tab-pane active" id="employesedetails" role="tabpanel">

                                                <!-- table start-->
                                                <div class="row">
                                                <div class="col-12">
                                                <div class="card">

                                                    <div class="card-body">
                                                        <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Package Code</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for i in packing_data%}
                                                                        <tr>
                                                                            <td>{{forloop.counter}}</td>
                                                                            <td>{{i.Package_Code}}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end col -->
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div>
            <!--End  container-fluid -->
        </div>
        <!-- End Page-content -->

        {% include 'general/footer.html' %}
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

{% include 'general/right_side_bar.html' %}
{% include 'general/vendor_script.html' %}




        <!-- Required datatable js -->
        <script src="{%static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

        <!-- Buttons examples -->
        <script src="{%static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{%static 'libs/jszip/jszip.min.js' %}"></script>
        <script src="{%static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{%static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

        <!-- Responsive examples -->
        <script src="{%static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- Datatable init js -->
        <script src="{%static 'js/pages/datatables.init.js' %}"></script>
        <script src="{%static 'js/app.js' %}"></script>

</body>

</html>