{% load static %}
{% include 'general/main.html' %}
<head>


    {% include 'general/title_meta.html' %}
    <!-- plugin css -->
    <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css"/>



     <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    
    {% comment %} <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
    rel="stylesheet"
    /> {% endcomment %}
    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    {% include 'general/head_css.html' %}

    
    <style>
        .scrollme {
            overflow-x: auto;
        }
        hidden-panel {
            display: none;
        }
        .data_pointer
        {
            cursor:pointer;

        }
        td:hover
        {
            color:#ee3420;
        }
        .hidden {
            display: none;
        }
    </style>

</head>
{% include 'general/body.html' %}
<!-- Begin page -->
<div id="layout-wrapper">
{% include 'general/menu.html' %}
{% comment %} {% load django_browser_reload %} {% endcomment %}

     <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                {% include 'general/page_title.html' %}
                <!-- company page start -->
                <div class="row">


                    <div class="col-xl-12">
                        <div class="card">
                            <!-- <div class="card-header">
                                     <h4 class="card-title">Justify Tabs</h4>
                                        <p class="card-title-desc"></p>
                                    </div>--><!-- end card header -->

                            <div class="card-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li class="nav-item waves-effect waves-light border border-dark rounded">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#productionloss" role="tab">
                                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                            <span class="d-none d-sm-block">Production Loss</span>
                                        </a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light border border-dark rounded">
                                        <a class="nav-link" data-bs-toggle="tab" href="#qualitylossbox" role="tab">
                                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                            <span class="d-none d-sm-block">Quality Loss</span>
                                        </a>
                                    </li>

                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content p-3 text-muted">
                                    <div class="tab-pane active" id="productionloss" role="tabpanel">
                                        <!-- form start -->
                                        <form method="post">
                                            {% comment %} {% csrf_token %} {% endcomment %}
                                            <div class="row">

                                                <!-- left column strat -->
                                                <div class="col-lg-6 ms-lg-auto">
                                                    <div class="mt-4 mt-lg-0">
                                                        <div class="row mb-4">
                                                            <label class="col-sm-3 col-form-label">Level 1 Production Loss</label>
                                                            <div class="col-sm-9">
                                                                <input list="browsers" name="Level 1"
                                                                     class="form-control">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="row mb-4">
                                                            <label for="sub_station_code"
                                                                class="col-sm-3 col-form-label">Level 2</label>
                                                            <div class="col-sm-9">

                                                                <input list="processtype" name="Process_Type"
                                                                    class="form-control" onChange="showHide()"
                                                                    id="processtypeinput">
                                                                <datalist id="processtype">
                                                                    {% comment %} {% for i in process_type_data%}
                                                                    <option>{{i}}</option>>
                                                                    {% endfor %} {% endcomment %}
                                                                </datalist>
                                                            </div>
                                                        </div>

                                                        <div class="row mb-4">
                                                            <label class="col-sm-3 col-form-label">Level 3</label>
                                                            <div class="col-sm-9">
                                                                <input list="processtype" name="Process_Type"
                                                                    class="form-control" onChange="showHide()"
                                                                    id="processtypeinput">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- left column end -->
                                                <!-- right column start -->

                                                <div class="col-lg-6 ms-lg-auto">
                                                    <div class="mt-4 mt-lg-0 ">
                                                        <div id="">
                                                            <div class="row mb-4">
                                                                <label
                                                                    class="col-sm-3 col-form-label">Level 4</label>
                                                                    <div class="col-sm-9">
                                                                        <input list="browsers" name="Level 1"
                                                                             class="form-control">
                                                                        
                                                                    </div>
                                                            </div>

                                                            <div class="row mb-4">
                                                                <label for="skill_required"
                                                                    class="col-sm-3 col-form-label">Level 5</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="torque1"
                                                                        name="Torque">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row justify-content-end">
                                                    <div class="col-sm-9">
                                                        <div>
                                                            <button type="submit" class="btn btn-primary w-md"
                                                                id="addbtn" name="submit" value="Add">Add</button>
                                                            <button type="submit" class="btn btn-primary w-md"
                                                                id="updatebtn" name="submit"
                                                                value="Modify">Modify</button>
                                                            <button type="submit" class="btn btn-primary w-md"
                                                                id="clearbtn" name="submit"
                                                                onclick="clearInput()">Clear</button>
                                                            <button type="submit" class="btn btn-primary w-md"
                                                                id="delbtn" name="submit" value="Delete">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- right column end-->
                                            </div>
                                        </form>
                                        <!-- form end -->
                                        <!-- table start-->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">

                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table id="datatable-buttons"
                                                                class="custom_table table table-bordered nonwrap w-100">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Line Code</th>
                                                                        <th>Pro_Type_Code</th>
                                                                        <th>Process_Desc</th>
                                                                        <th>Tool_ID</th>
                                                                        <th>Proces_Code</th>
                                                                        <th>Bolt_Count</th>
                                                                        <th>Proces_Photo_Path</th>
                                                                        <th>Take_Time</th>
                                                                        <th>Torque</th>
                                                                    </tr>
                                                                </thead>
                                                                {% comment %} <tbody>
                                                                    {% for i in process_library_data%}
                                                                    <tr>
                                                                        <td class="data_pointer">{{i.Line_Code}}</td>
                                                                        <td class="data_pointer">{{i.Pro_Type_Code}}
                                                                        </td>
                                                                        <td class="data_pointer">{{i.Process_Desc}}</td>
                                                                        <td class="data_pointer">{{i.Tool_ID}}</td>
                                                                        <td class="data_pointer">{{i.Process_Code}}</td>
                                                                        <td class="data_pointer">{{i.Bolt_Count}}</td>
                                                                        <td class="data_pointer">
                                                                            {{i.Process_Photo_Path}}</td>
                                                                        <td class="data_pointer">{{i.Takt_Time}}</td>
                                                                        <td class="data_pointer">{{i.Torque}}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody> {% endcomment %}
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col -->



                                        </div>
                                    </div>
                                    <div class="tab-pane" id="qualitylossbox" role="tabpanel">
                                        <!-- form start -->
                                        <form method="post">
                                            {% comment %} {% csrf_token %} {% endcomment %}
                                            <div class="row">

                                                <!-- left column strat -->
                                                <div class="col-lg-6 ms-lg-auto">
                                                    <div class="mt-4 mt-lg-0">
                                                        <div class="row mb-4">
                                                            <label class="col-sm-3 col-form-label">Level 1 Quality Loss</label>
                                                            <div class="col-sm-9">
                                                                <input list="browsers" name="Level 1"
                                                                     class="form-control">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="row mb-4">
                                                            <label for="sub_station_code"
                                                                class="col-sm-3 col-form-label">Level 2</label>
                                                            <div class="col-sm-9">

                                                                <input list="processtype" name="Process_Type"
                                                                    class="form-control" onChange="showHide()"
                                                                    id="processtypeinput">
                                                                <datalist id="processtype">
                                                                    {% comment %} {% for i in process_type_data%}
                                                                    <option>{{i}}</option>>
                                                                    {% endfor %} {% endcomment %}
                                                                </datalist>
                                                            </div>
                                                        </div>

                                                        <div class="row mb-4">
                                                            <label class="col-sm-3 col-form-label">Level 3</label>
                                                            <div class="col-sm-9">
                                                                <input list="processtype" name="Process_Type"
                                                                    class="form-control" onChange="showHide()"
                                                                    id="processtypeinput">
                                                            </div>
                                                        </div>
                                                        {% comment %} <div class="row mb-4">
                                                            <label class="col-sm-3 col-form-label">Process
                                                                Description</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" id="processdesc"
                                                                    name="Process_Description">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-4">
                                                            <label class="col-sm-3 col-form-label">Cycle Time</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" id="cycletime"
                                                                    name="Cycle_Time">
                                                            </div>
                                                        </div> {% endcomment %}

                                                    </div>
                                                </div>
                                                <!-- left column end -->
                                                <!-- right column start -->

                                                <div class="col-lg-6 ms-lg-auto">
                                                    <div class="mt-4 mt-lg-0 ">
                                                        <div id="">
                                                            <div class="row mb-4">
                                                                <label for="sub_station_code"
                                                                    class="col-sm-3 col-form-label">Level 4</label>
                                                                <div class="col-sm-9">
                                                                    <input list="toolid" class="form-control"
                                                                        id="toolidinput" name="Tool_ID">
                                                                    <datalist id="toolid">
                                                                        {% comment %} {% for i in tool_id_data %}
                                                                        <option>{{i}}</option>>
                                                                        {% endfor %} {% endcomment %}
                                                                    </datalist>
                                                                </div>
                                                            </div>

                                                            <div class="row mb-4">
                                                                <label for="skill_required"
                                                                    class="col-sm-3 col-form-label">Level 5</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="torque1"
                                                                        name="Torque">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-end">
                                                    <div class="col-sm-9">
                                                        <div>
                                                            <button type="submit" class="btn btn-primary w-md"
                                                                id="addbtn" name="submit" value="Add">Add</button>
                                                            <button type="submit" class="btn btn-primary w-md"
                                                                id="updatebtn" name="submit"
                                                                value="Modify">Modify</button>
                                                            <button type="submit" class="btn btn-primary w-md"
                                                                id="clearbtn" name="submit"
                                                                onclick="clearInput()">Clear</button>
                                                            <button type="submit" class="btn btn-primary w-md"
                                                                id="delbtn" name="submit" value="Delete">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- right column end-->
                                            </div>
                                        </form>
                                        <!-- form end -->

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">

                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table id="datatables"
                                                                class="custom_table table table-bordered nonwrap w-100 ">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">PMMKEY</th>
                                                                        <!-- <th scope="col">Model Group</th> -->
                                                                        <th scope="col">Model Code</th>
                                                                        <th scope="col">Operation Code</th>
                                                                        <th scope="col">Proces Code</th>
                                                                        <th scope="col">Proces Seq No</th>
                                                                        <th scope="col">Line Code</th>
                                                                    </tr>
                                                                </thead>
                                                                {% comment %} <tbody>
                                                                    {% for i in process_master_data %}
                                                                    <tr>
                                                                        <td class="data_pointer">{{i.PMMKEY}}</td>
                                                                        <!-- <td>{{i.Model_Group}}</td> -->
                                                                        <td class-"data_pointer">{{i.Model_Code}}</td>
                                                                        <td class-"data_pointer">{{i.Operator_Code}}
                                                                        </td>
                                                                        <td class-"data_pointer">{{i.Process_Code}}</td>
                                                                        <td class-"data_pointer">{{i.Process_Seq_No}}
                                                                        </td>
                                                                        <td class-"data_pointer">{{i.Line_Code}}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody> {% endcomment %}
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            {% comment %} <div id="activeptlmn" class="tab-pane hidden" role="tabpanel">
                                                {% endcomment %}

                                                <!-- table start-->
                                                {% comment %} <div class="row"> {% endcomment %}
                                                    {% comment %} <div class="col-12"> {% endcomment %}
                                                        {% comment %} <div class="card"> {% endcomment %}

                                                            {% comment %} <div class="card-body"> {% endcomment %}
                                                                <div id="activeptlmn" class="table-responsive hidden">
                                                                    {% comment %} <table
                                                                        class="table table-bordered dt-responsive  nowrap w-100">
                                                                        {% endcomment %}
                                                                        <table
                                                                            class="custom_table table table-bordered dt-responsive nonwrap w-100 ">
                                                                            <thead>

                                                                                <tr>
                                                                                    <th scope="col">#</th>
                                                                                    <th scope="col">TPL_Code</th>
                                                                                    <th scope="col">Description</th>
                                                                                    <th scope="col">No. Of Process</th>
                                                                                    <th scope="col">Date</th>
                                                                                    <th></th>
                                                                                    {% comment %} <th></th>
                                                                                    <th></th> {% endcomment %}

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td><a href="activetpllist"
                                                                                            class="btn btn-link waves-effect"
                                                                                            title="click">123</a></td>
                                                                                    <td>Description</td>
                                                                                    <td>3</td>
                                                                                    <td>27/1/2023</td>
                                                                                    {% comment %} <td><a href=""
                                                                                            title="Edit"> <i
                                                                                                data-feather="edit"
                                                                                                class="feather feather-edit"></i></a>
                                                                                    </td> {% endcomment %}
                                                                                    <td><button
                                                                                            class="btn btn-none row-add"><i
                                                                                                data-feather="copy"
                                                                                                class="feather feather-copy"></i></button>
                                                                                    </td>
                                                                                    {% comment %} <td><i
                                                                                            data-feather="delete"
                                                                                            class="feather feather-delete"></i>
                                                                                    </td> {% endcomment %}
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td><a href="activetpllist"
                                                                                            class="btn btn-link waves-effect"
                                                                                            title="click">123</a></td>
                                                                                    <td>Description</td>
                                                                                    <td>3</td>
                                                                                    <td>27/1/2023</td>
                                                                                    {% comment %} <td><a href=""
                                                                                            title="Edit"> <i
                                                                                                data-feather="edit"
                                                                                                class="feather feather-edit"></i></a>
                                                                                    </td> {% endcomment %}
                                                                                    <td><button
                                                                                            class="btn btn-none row-add"><i
                                                                                                data-feather="copy"
                                                                                                class="feather feather-copy"></i></button>
                                                                                    </td>
                                                                                    {% comment %} <td><i
                                                                                            data-feather="delete"
                                                                                            class="feather feather-delete"></i>
                                                                                    </td> {% endcomment %}
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td><a href="activetpllist"
                                                                                            class="btn btn-link waves-effect"
                                                                                            title="click">123</a></td>
                                                                                    <td>Description</td>
                                                                                    <td>3</td>
                                                                                    <td>27/1/2023</td>
                                                                                    {% comment %} <td><a href=""
                                                                                            title="Edit"> <i
                                                                                                data-feather="edit"
                                                                                                class="feather feather-edit"></i></a>
                                                                                    </td> {% endcomment %}
                                                                                    <td><button
                                                                                            class="btn btn-none row-add"><i
                                                                                                data-feather="copy"
                                                                                                class="feather feather-copy"></i></button>
                                                                                    </td>
                                                                                    {% comment %} <td><i
                                                                                            data-feather="delete"
                                                                                            class="feather feather-delete"></i>
                                                                                    </td> {% endcomment %}
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td><a href="activetpllist"
                                                                                            class="btn btn-link waves-effect"
                                                                                            title="click">123</a></td>
                                                                                    <td>Description</td>
                                                                                    <td>3</td>
                                                                                    <td>27/1/2023</td>
                                                                                    {% comment %} <td><a href=""
                                                                                            title="Edit"> <i
                                                                                                data-feather="edit"
                                                                                                class="feather feather-edit"></i></a>
                                                                                    </td> {% endcomment %}
                                                                                    <td><button
                                                                                            class="btn btn-none row-add"><i
                                                                                                data-feather="copy"
                                                                                                class="feather feather-copy"></i></button>
                                                                                    </td>
                                                                                    {% comment %} <td><i
                                                                                            data-feather="delete"
                                                                                            class="feather feather-delete"></i>
                                                                                    </td> {% endcomment %}
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td><a href="activetpllist"
                                                                                            class="btn btn-link waves-effect"
                                                                                            title="click">123</a></td>
                                                                                    <td>Description</td>
                                                                                    <td>3</td>
                                                                                    <td>27/1/2023</td>
                                                                                    {% comment %} <td><a href=""
                                                                                            title="Edit"> <i
                                                                                                data-feather="edit"
                                                                                                class="feather feather-edit"></i></a>
                                                                                    </td> {% endcomment %}
                                                                                    <td><button
                                                                                            class="btn btn-none row-add"><i
                                                                                                data-feather="copy"
                                                                                                class="feather feather-copy"></i></button>
                                                                                    </td>
                                                                                    {% comment %} <td><i
                                                                                            data-feather="delete"
                                                                                            class="feather feather-delete"></i>
                                                                                    </td> {% endcomment %}
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td><a href="activetpllist"
                                                                                            class="btn btn-link waves-effect"
                                                                                            title="click">123</a></td>
                                                                                    <td>Description</td>
                                                                                    <td>3</td>
                                                                                    <td>27/1/2023</td>
                                                                                    {% comment %} <td><a href=""
                                                                                            title="Edit"> <i
                                                                                                data-feather="edit"
                                                                                                class="feather feather-edit"></i></a>
                                                                                    </td> {% endcomment %}
                                                                                    <td><button
                                                                                            class="btn btn-none row-add"><i
                                                                                                data-feather="copy"
                                                                                                class="feather feather-copy"></i></button>
                                                                                    </td>
                                                                                    {% comment %} <td><i
                                                                                            data-feather="delete"
                                                                                            class="feather feather-delete"></i>
                                                                                    </td> {% endcomment %}
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td><a href="activetpllist"
                                                                                            class="btn btn-link waves-effect"
                                                                                            title="click">123</a></td>
                                                                                    <td>Description</td>
                                                                                    <td>3</td>
                                                                                    <td>27/1/2023</td>
                                                                                    {% comment %} <td><a href=""
                                                                                            title="Edit"> <i
                                                                                                data-feather="edit"
                                                                                                class="feather feather-edit"></i></a>
                                                                                    </td> {% endcomment %}
                                                                                    <td><button
                                                                                            class="btn btn-none row-add"><i
                                                                                                data-feather="copy"
                                                                                                class="feather feather-copy"></i></button>
                                                                                    </td>
                                                                                    {% comment %} <td><i
                                                                                            data-feather="delete"
                                                                                            class="feather feather-delete"></i>
                                                                                    </td> {% endcomment %}
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td><a href="activetpllist"
                                                                                            class="btn btn-link waves-effect"
                                                                                            title="click">123</a></td>
                                                                                    <td>Description</td>
                                                                                    <td>3</td>
                                                                                    <td>27/1/2023</td>
                                                                                    {% comment %} <td><a href=""
                                                                                            title="Edit"> <i
                                                                                                data-feather="edit"
                                                                                                class="feather feather-edit"></i></a>
                                                                                    </td> {% endcomment %}
                                                                                    <td><button
                                                                                            class="btn btn-none row-add"><i
                                                                                                data-feather="copy"
                                                                                                class="feather feather-copy"></i></button>
                                                                                    </td>
                                                                                    {% comment %} <td><i
                                                                                            data-feather="delete"
                                                                                            class="feather feather-delete"></i>
                                                                                    </td> {% endcomment %}
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- table end -->

                                            </div>




                                        </div>


                                    </div>
                                </div>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div><!-- end col -->





                </div><!-- end row -->
                <!-- company page end -->


            </div>
            <!--End  container-fluid -->

        </div>
        <!-- End Page-content -->

        {% include 'general/footer.html' %}
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

{% include 'general/right_side_bar.html' %}
{% include 'general/vendor_script.html' %}

<!-- Required datatable js -->
<script src="{%static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{%static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Buttons examples -->
<script src="{%static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{%static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{%static 'libs/jszip/jszip.min.js' %}"></script>
<script src="{%static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{%static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{%static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{%static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{%static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{%static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{%static 'js/pages/datatables.init.js' %}"></script>
<script src="{%static 'js/app.js' %}"></script>

<script>
    //Update Value Process Library
    {% comment %} console.log("abc"); {% endcomment %}
    var table = document.getElementById('datatable-buttons');

    for (var i = 1; i < table.rows.length; i++) {
        table.rows[i].onclick = function () {
            //rIndex = this.rowIndex;
            console.log(table.rows);
            document.getElementById("processcode").value = this.cells[4].innerHTML;
            document.getElementById("processdesc").value = this.cells[2].innerHTML;
            document.getElementById("cycletime").value = this.cells[7].innerHTML;
            document.getElementById("toolidinput").value = this.cells[3].innerHTML;
            document.getElementById("torque1").value = this.cells[8].innerHTML;
            document.getElementById("boltcountinput").value = this.cells[5].innerHTML;
            $('#addbtn').addClass("disabled");
        };
    }

    // Update value Process Master

    var pm_table = document.getElementById('pm_table');
    for (var i = 1; i < pm_table.rows.length; i++) {
        pm_table.rows[i].onclick = function () {
            document.getElementById("processcode").value = this.cells[3].innerHTML;
            document.getElementById("operationcode").value = this.cells[2].innerHTML;
        };
    }
    // for delete row/record

    $(document).on("click", ".delete", function () {
        console.log("123abc");
        console.log($(this).parent("tr").children("tr"));
        $(this).parents("tr").remove();
        $(".add-new").removeAttr("disabled");
    });
</script>

<script>
    document.getElementById('hidden-panel').style = "display:none";
    function showHide() {
        console.log("HI");
        let travelhistory = document.getElementById('processtypeinput')
        console.log("Hello");
        console.log(travelhistory.value);
        console.log(document.getElementById('hidden-panel'));

        if (travelhistory.value == "TORQUE") {
            document.getElementById('hidden-panel').style.display = 'block'
        } else {
            document.getElementById('hidden-panel').style = "display:none";
        }
    }
</script>

<script>
    function clearInput() {
        var getValue = document.getElementById("processcode");
        if (getValue.value != "") {
            getValue.value = "";
        }
    }
</script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static " js/jquery.js" %}"></script>
<script>
    $(document).ready(function () {
        $('#datatables').DataTable();
    });
</script>
<script>

    $(".row-add").click(function () {
        var $row = $(this).closest("tr");    // Find the row
        var $tds = $row.find("td");

        var txt = '';

        for (let x of $tds) {
            txt += x.textContent + " ";
        }
        console.log(txt)
        var copied = navigator.clipboard.writeText(txt)
        alert("Copied");
    })

</script>






</body>

</html>