{% load static %}
{% include 'general/main.html' %}
<head>


    {% include 'general/title_meta.html' %}
    <!-- plugin css -->
    <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css"/>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

     <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    {% include 'general/head_css.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<style>
#block_container
{
    text-align:center;
}
#bloc1, #bloc2
{
    display:inline;
}
</style>

<style>
            #container{
                display: inline-block;
                width: 320px;
                height: 240px;
                margin: 0 auto;
                position: relative;
                border: 1px solid grey;
            }

            #video_stream{
                position: absolute;
                z-index: 1;
            }

            #img_canvas{
                position: absolute;
                z-index: 10;
            }

            #draw_canvas{
                position: relative;
                z-index: 20;
            }
        </style>

</head>
{% include 'general/body.html' %}
<!-- Begin page -->
<div id="layout-wrapper">
{% include 'general/menu.html' %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">DMS Quality Device Name - Tab ID</h4>

                            <!-- <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Alpha Line-Sub Station
                                            1</a></li>
                                    <li class="breadcrumb-item active">Alpha Line-Sub Station 1</li>
                                </ol>
                            </div> -->

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!-- alpha page start -->



                <div class="row">
                    <div class="col-lg-12">
                        <div class="card bg-dark border-dark text-light">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img style="height: 100%;"  class="img-fluid mx-auto d-block rounded" src="{% static 'images/users/avatar-6.jpg' %}" alt="Card image">
                                    </div>
                                    <div class="col-md-4 d-flex">
                                        <div class="row">
                                            <div  class="col-xl-6 d-flex flex-wrap align-content-start">
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-22 text-white-50 mb-1">Emp. Name
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-22 text-white-50 mb-1">Emp. ID</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-22 text-white-50 mb-1">Skill Level
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div  class="col-xl-12 font-size-15 text-white-50 ">Process</div>
                                                </div> -->

                                            </div>

                                            
                                            <div class="col-xl-6 d-flex flex-column align-content-start">
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-22 text-light mb-1">Dinesh S
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-22 text-light mb-1">3400</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-22 text-light mb-1">10
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div  class="col-xl-12 font-size-15 text-white-50 ">Process</div>
                                                </div> -->

                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <br>
                                    </div>


                                    <div class="col-md-4 d-flex">
                                        <div class="row">
                                            <div class="col-xl-6 d-flex flex-column align-content-start">
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-22 text-white-50 mb-1 ">FAB No.   
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-22 text-white-50 mb-1 ">TPL No</div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 d-flex flex-wrap align-content-start">
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-22 text-light mb-1 ">BSISO38928
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-22 text-light mb-1 ">S123456</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                </div>

                <div style="display: block;" id="child_table" class="card">
                    <!-- <div class="card-header">
                         <h4 class="card-title">Default Datatable</h4>

                     </div>-->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatable-buttons" class="table table-bordered dt-responsive  nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <!-- <th>PO No</th> -->
                                        <th>Fab Number</th>
                                        <th>TPL Number</th>
                                        <th>Station</th>
                                        <th>Process Description</th>
                                        
                                    </tr>
                                </thead>


                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <!-- <td>210043945</td> -->
                                        <td>MAYANK</td>
                                        <td>S014905</td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <!-- <td>210043945</td> -->
                                        <td>ABHAY</td>
                                        <td>S014905</td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <!-- <td>210043945</td> -->
                                        <td>UVIS040028</td>
                                        <td>S014905</td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>4</td>
                                        <!-- <td>210043945</td> -->
                                        <td>UVIS040028</td>
                                        <td>S014905</td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>5</td>
                                        <!-- <td>210043945</td> -->
                                        <td>UVIS040028</td>
                                        <td>S014905</td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div style="display: none;" id="dmsSecondScreen" class="card">
                    <div  class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Fab No.:</label>
                                    <div class="col-sm-9">
                                        <input name="substationcode" type="text" class="form-control" id="dmsfabvalue">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <button id="dmstab2"  type="button" class="btn btn-primary btn-md w-75 rounded">OK</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <button id="start-camera2" type="button" class="btn btn-primary btn-md w-75 rounded">CAM</button>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-2">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <button id="click-photo" type="button" class="btn btn-primary btn-md w-75 rounded">Click Photo</button>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="row my-4">
                            <video id="video" width="320" height="240" autoplay></video>
                            <canvas id="canvas" width="320" height="240"></canvas>
                        </div>
                    </div>
                </div>


                <div style="display: none;" id="lastscreen" class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12">
                                <div id="middlebar" class="card bg-dark text-light">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row text-center">
                                                    <label class="col-sm-4 col-form-label">Process Desc</label>
                                                    <div class="col-sm-8">
                                                        <input name="substationcode" type="text" class="form-control" id="processdescription">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row text-center">
                                                    <label class="col-sm-4 col-form-label">Level 1</label>
                                                    <div class="col-sm-8">
                                                        <input name="substationcode" type="text" class="form-control" id="processdescription">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 ">
                                                <div class="row text-center">
                                                    <label class="col-sm-4 col-form-label">Level 2</label>
                                                    <div class="col-sm-8">
                                                        <input name="substationcode" type="text" class="form-control" id="processdescription">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <div style="display: block;" class="card bg-dark text-light" id="captureportion">
                                    <div class="card-body">
                                        <div style="justify-content: space-evenly;" class="row">
                                            <!-- LEFT PORTION -->
                                            <div class="col-lg-5 bg-light "> 
                                                <div class="row text-dark ">
                                                    <div class="col-md-12">
                                                        <div class=' gap-4' >
                                                            <div class='d-flex justify-content-center bg-light px-2'>
                                                                <div class='mx-3'>
                                                                    <button id="start_camera" class="btn btn-primary btn-block my-3">Start Camera</button>
                                                                </div>
                                                                <div>
                                                                    <button id="take_photo" class="btn btn-primary btn-block my-3">Hold</button>
                                                                </div>
                                                                {% comment %} <button class="btn" id="cmdDraw" onClick="drawCanvas()"><i class="material-icons">drive_file_rename_outline</i></button> {% endcomment %}
                            
                                                            </div>
                                                            <div>    
                                                                <div style="border: 1px solid grey; height: 50%;" id="container" class="w-100 mb-2">
                                                                    <video id="video_stream" width="450" height="502" autoplay></video>
                                                                    <canvas id="img_canvas" width="450" height="502"></canvas>
                                                                    <canvas id="draw_canvas" width="445" height="502"></canvas>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- RIGHT PORTION -->  
                                            <div class="col-xl-5 ">
                                                <div class="row">
                                                    <label style="font-size: 18px;" for="bypass" class="col-sm-3 col-form-label text-muted">Level 3</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" id="bypass" name="bypass">
                                                                <option></option>
                                                                <option>Option 1</option>
                                                                <option>Option 2</option>
                                                        </select>
                                                    </div>
                                                </div>
                    
                                                <div class="row">
                                                    <label style="font-size: 18px;" for="bypass" class="col-sm-3 col-form-label text-muted">Level 4</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" id="bypass" name="bypass">
                                                                <option></option>
                                                                <option>Option 1</option>
                                                                <option>Option 2</option>
                                                        </select>
                                                    </div>
                                                </div>
                    
                                                <div class="row ">
                                                    <label style="font-size: 18px;" for="bypass" class="col-sm-3 col-form-label text-muted">Level 5</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" id="bypass" name="bypass">
                                                                <option></option>
                                                                <option>Option 1</option>
                                                                <option>Option 2</option>
                                                        </select>
                                                    </div>
                                                </div>
                
                                                <div class="row mt-2">
                                                    <div class="col-sm-12">
                                                        <input name="substationcode" type="text" class="form-control" id="commentfield" placeholder="Write your comment">
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-sm-12">
                                                        <button id="level3Btn"  type="button" class="btn btn-primary btn-md w-100">OK</button>
                                                    </div>
                
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- Container Fluid End -->
            
            <!-- alpha page end -->


        </div>
        <!--End  container-fluid -->
    </div>
    <!-- End Page-content -->

    {% include 'general/footer.html' %}
</div>
<!-- end main content-->
</div>
<!-- END layout-wrapper -->

{% include 'general/right_side_bar.html' %}
{% include 'general/vendor_script.html' %}

        <!-- Required datatable js -->
        <script src="{%static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

        <!-- Buttons examples -->
        <script src="{%static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{%static 'libs/jszip/jszip.min.js' %}"></script>
        <script src="{%static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{%static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

        <!-- Responsive examples -->
        <script src="{%static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- Datatable init js -->
        <script src="{%static 'js/pages/datatables.init.js' %}"></script>
        <script src="{%static 'js/app.js' %}"></script>

</body>

<script>
    $(document).ready(function () {

        $("table tr").each(function () {
            $(this).find("td:lt(2)").addClass("disabled");
        });

        var selectedName = "";
                
        $('table tbody tr').click(function() {
            // Get the selected name
            selectedFabNo = $(this).find('td:eq(1)').text();
            console.log(selectedFabNo);
            
            // Hide the table
            $('#child_table').hide();
            
            // Show the input field and button
            $('#dmsSecondScreen').show();
        });

        $('#dmstab2').click(function() {
            // Get the input field value
            var inputVal = $('#dmsfabvalue').val();
            
            // Compare the input field value with the selected name
            if (inputVal === selectedFabNo) {
                alert('Fab Matched.');
                $('#dmsSecondScreen').hide();
                $("#lastscreen").show();

            
            } else {
                alert('Fab No. Not Matched.');
            }
        });

        $("#camBTN").click(function(){
            console.log("Cam clicked");
            $('#dmsSecondScreen').show();
            // $("#lastscreen").show();
        });

        let camera_button = document.querySelector("#start_camera");
        let video = document.querySelector("#video_stream");
        let take_photo = document.querySelector("#take_photo");
        let img_canvas = document.querySelector("#img_canvas"); 
        let draw_canvas = document.querySelector("#draw_canvas");
        let live_stream;
        let mouse_drag = false;
        let brushWidth = 3;
        let prevMouseX, prevMouseY, snapshot;

        const ctx = draw_canvas.getContext("2d"); //Get the Canvas context.

        const drawRect = (e) => {
            ctx.strokeRect(e.offsetX, e.offsetY, prevMouseX - e.offsetX, prevMouseY - e.offsetY);
        }

        const drawCircle = (e) => {
            ctx.beginPath(); //Creating new path to draw circle.
            let radius = Math.sqrt(Math.pow((prevMouseX - e.offsetX), 2) + Math.pow((prevMouseY - e.offsetY), 2)); //Getting radius according to mouse pointer
            ctx.arc(prevMouseX, prevMouseY, radius, 0, 2 * Math.PI);
            ctx.stroke();
        }

        const startDraw = (e) => {
            mouse_drag = true;
            prevMouseX = e.offsetX;
            prevMouseY = e.offsetY;
            ctx.beginPath(); //Creating a new path to draw.
            ctx.lineWidth = brushWidth; //Set the size of brush or line. 
            ctx.strokeStyle = 'rgb(255, 255, 0)'; //Set the color of the stroke.
            snapshot = ctx.getImageData(0, 0, draw_canvas.width, draw_canvas.height); // Copying canvas data and passing as snapshot... this avoids dragging the image.
        }

        const drawing = (e) => {

            if (!mouse_drag) return; // Draw only if the mouse is clicked, and dragged.

            //Set strock color
            ctx.lineWidth = 3;
            ctx.strokeStyle = 'rgb(255, 0, 0)';

            ctx.putImageData(snapshot, 0, 0); // adding copied canvas data into this canvas.

            drawCircle(e); //Draw Circle.
        };

        camera_button.addEventListener('click', async function() {
            live_stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
            video.srcObject = live_stream;
        }); 

        take_photo.addEventListener('click', function() {
            //Hide the Camera Live feed. 
            let videodiv = document.getElementById("video_stream");
            videodiv.style.display = "none";

            img_canvas.getContext('2d').drawImage(video, 0, 0, img_canvas.width, img_canvas.height);
            let image_data_url = img_canvas.toDataURL('image/jpeg');

            console.log(image_data_url);

            //Stop the live stream here. 
            live_stream.getTracks().forEach(function(track) {
                track.stop();
            });

        });

        draw_canvas.addEventListener('mousedown', startDraw);
        draw_canvas.addEventListener('mousemove', drawing); 
        draw_canvas.addEventListener('mouseup', () => mouse_drag = false);

    });                 
</script>

</html>