{% load static %}
{% include 'general/main.html' %}
<head>


    {% include 'general/title_meta.html' %}
    <!-- plugin css -->
    <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css"/>



     <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    {% include 'general/head_css.html' %}

</head>
{% include 'general/body.html' %}
<!-- Begin page -->
<div id="layout-wrapper">
{% include 'general/menu.html' %}

     <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                {% include 'general/page_title.html' %}
                <!-- company page start -->
               <div class="row">


                            <div class="col-xl-12">
                                <div class="card">
                                      <!-- <div class="card-header">
                                     <h4 class="card-title">Justify Tabs</h4>
                                        <p class="card-title-desc"></p>
                                    </div>--><!-- end card header -->

                                    <div class="card-body">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-pills nav-justified" role="tablist">
                                            <li class="nav-item waves-effect waves-light border border-dark rounded">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#modelmaster" role="tab">
                                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                    <span class="d-none d-sm-block">Tool Type Master</span>
                                                </a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light border border-dark rounded">
                                                <a class="nav-link" data-bs-toggle="tab" href="#tplmaster" role="tab">
                                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                                    <span class="d-none d-sm-block">Tool Master</span>
                                                </a>
                                            </li>

                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content p-3 text-muted">
                                            <div class="tab-pane active" id="modelmaster" role="tabpanel">
                                                <!-- form start -->
                                                <form>
                                                <div class="row">


                                                </div>
                                                </form>
                                                <!-- form end -->
                                                <!-- table start-->
                                                <div class="row">
                                                <div class="col-12">
                                                <div class="card">

                                                    <div class="card-body">
                                                        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Line Code</th>
                                                                            <th>Tool Type ID</th>
                                                                            <th>Tool Type</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for i in tools_type_master_data %}
                                                                        <tr>
                                                                            <td>{{forloop.counter}}</td>
                                                                            <td>{{i.Line_Code}}</td>
                                                                            <td>{{i.Tool_Type_ID}}</td>
                                                                            <td>{{i.Tool_Type}}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                        </div>
                                    </div>
                                            <div class="tab-pane" id="tplmaster" role="tabpanel">
                                            <!-- form start -->
                                                <form>
                                                <div class="row">

                                                        <!-- left column strat -->
                                                        <div class="col-lg-6 ms-lg-auto">
                                                            <div class="mt-4 mt-lg-0">


                                                                    <div class="row mb-4">
                                                                        <label for="sub_station_code" class="col-sm-3 col-form-label">Model Code</label>
                                                                        <div class="col-sm-9">
                                                                          <select name="line-code" id="modelcode" class="form-control">
                                                                                <option value="EL1_P1_L1">EL1_P1_L1</option>
                                                                                <option value="EL1_P1_L2">EL1_P1_L2</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mb-4">
                                                                        <label for="st_operator_code" class="col-sm-3 col-form-label">TPL Code</label>
                                                                        <div class="col-sm-9">
                                                                            <input type="text" class="form-control" id="st_operator_code" readonly>
                                                                        </div>
                                                                    </div>

                                                            </div>
                                                        </div>
                                                        <!-- left column end -->
                                                        <!-- right column start -->

                                                        <div class="col-lg-6 ms-lg-auto">
                                                            <div class="mt-4 mt-lg-0">
                                                                    <div class="row mb-4">
                                                                        <label for="sub_station_code" class="col-sm-3 col-form-label">Machine on AGV</label>
                                                                        <div class="col-sm-9">
                                                                          <select name="line-code" id="modelcode" class="form-control">
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row mb-4">
                                                                        <label for="skill_required" class="col-sm-3 col-form-label">TPL Description</label>
                                                                        <div class="col-sm-9">
                                                                          <input type="text" class="form-control" id="skill_required" readonly>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row justify-content-end">
                                                                        <div class="col-sm-9">
                                                                            <div>
                                                                                <button type="submit" class="btn btn-primary w-md">Modify</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                            </div>
                                                        </div>
                                                        <!-- right column end-->


                                                </div>
                                                </form>

                                                    <table class="table table-bordered dt-responsive nowrap w-100" id="datatable-buttons">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">TPL_Code</th>
                                                            <th scope="col">Model_Code</th>
                                                            <th scope="col">TPl_Description</th>
                                                            <th scope="col">Machine_on_AGV</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>S011733</td>
                                                                <td>Trial</td>
                                                                <td>EG 75-8</td>
                                                                <td>1</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>S011776</td>
                                                                <td>EN15-C-50</td>
                                                                <td>EN7 - 7 400V 50Hz</td>
                                                                <td>2</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>S012413</td>
                                                                <td>EN22-C-50</td>
                                                                <td>EG 22-9.5</td>
                                                                <td>1</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>S012454</td>
                                                                <td>EN15-C-50</td>
                                                                <td>EG 22-125</td>
                                                                <td>1</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>S012671</td>
                                                                <td>EN15-C-50</td>
                                                                <td>EN11-9.5</td>
                                                                <td>2</td>
                                                            </tr>
                                                            <tr>
                                                                <td>6</td>
                                                                <td>S013364</td>
                                                                <td>EN 5-C-50</td>
                                                                <td>EN 2 7</td>
                                                                <td>2</td>
                                                            </tr>
                                                            <tr>
                                                                <td>7</td>
                                                                <td>S013365</td>
                                                                <td>EN 5-C-50</td>
                                                                <td>EN 2</td>
                                                                <td>2</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                        </div>
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                <!-- company page end -->


            </div>
            <!--End  container-fluid -->
        </div>
        <!-- End Page-content -->

        {% include 'general/footer.html' %}
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

{% include 'general/right_side_bar.html' %}
{% include 'general/vendor_script.html' %}




        <!-- Required datatable js -->
        <script src="{%static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

        <!-- Buttons examples -->
        <script src="{%static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{%static 'libs/jszip/jszip.min.js' %}"></script>
        <script src="{%static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{%static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

        <!-- Responsive examples -->
        <script src="{%static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- Datatable init js -->
        <script src="{%static 'js/pages/datatables.init.js' %}"></script>
        <script src="{%static 'js/app.js' %}"></script>

</body>

</html>