{% load static %}
{% include 'general/main.html' %}
<head>


    {% include 'general/title_meta.html' %}
    <!-- plugin css -->
    <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css"/>



     <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    {% include 'general/head_css.html' %}
    <style>
        .scrollme {
            overflow-x: auto;
        }
        hidden-panel {
            display: none;
        }
        .data_pointer
        {
            cursor:pointer;

        }
        td:hover
        {
            color:#ee3420;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
{% include 'general/body.html' %}
<!-- Begin page -->
<div id="layout-wrapper">
{% include 'general/menu.html' %}

     <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">TPL Master</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">TPL Master</a></li>
                                    <li class="breadcrumb-item active">TPL Master</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
               <!-- company page start -->
               <div class="row">


                            <div class="col-xl-12">
                                <div class="card">
                                      <!-- <div class="card-header">
                                     <h4 class="card-title">Justify Tabs</h4>
                                        <p class="card-title-desc"></p>
                                    </div>--><!-- end card header -->

                                    <div class="card-body">
                                       
                                            <!-- tab model master end-->
                                            <!-- tab tpl_master start-->
                                            <div class="tab-pane" id="tplmaster" role="tabpanel">
                                                <!-- form start -->
                                                <form method="post">
                                                    {% csrf_token %}
                                                <div class="row">

                                                        <!-- left column strat -->
                                                        <div class="col-lg-6 ms-lg-auto">
                                                            <div class="mt-4 mt-lg-0">


                                                                    <div class="row mb-4">
                                                                        <label for="sub_station_code" class="col-sm-3 col-form-label">Group</label>
                                                                        <div class="col-sm-9">
                                                                            <select  id="group" class="form-control" name="Group">
                                                                                <option value="EG">EG</option>
                                                                                <option value="EN">EN</option>
                                                                                <option value="EV">EV</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                 {% comment %} <div class="row mb-4">
                                                                        <label for="sub_station_code" class="col-sm-3 col-form-label" >Model Code</label>
                                                                        <div class="col-sm-9">
                                                                            <input type="text" class="form-control" id="st_operator_code" name="Model_Code" >
                                                                        </div>
                                                                    </div> {% endcomment %}

                                                                    <div class="row mb-4">
                                                                        <label for="st_operator_code" class="col-sm-3 col-form-label">TPL Code</label>
                                                                        <div class="col-sm-9">
                                                                            {% comment %} <input type="text" class="form-control" id="st_operator_code" name="TPL_Code" > {% endcomment %}
                                                                            
                                                                            <select name="TPL_Code" id="st_operator_code" class="form-control">
                                                                                {% for i in tpl_code_details %}
                                                                                <option>{{i}}</option>
                                                                                {% endfor %}
                                                                            </select> 
                                                                            
                                                                        </div>
                                                                    </div>

                                                            </div>
                                                        </div>
                                                        <!-- left column end -->
                                                        <!-- right column start -->

                                                        <div class="col-lg-6 ms-lg-auto">
                                                            <div class="mt-4 mt-lg-0">
                                                                    <div class="row mb-4">
                                                                        <label for="sub_station_code" class="col-sm-3 col-form-label">Machine on AGV</label>
                                                                        <div class="col-sm-9">
                                                                          <select id="AGV" class="form-control" name="AGV">
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row mb-4">
                                                                        <label for="skill_required" class="col-sm-3 col-form-label">TPL Description</label>
                                                                        <div class="col-sm-9">
                                                                          <input type="text" class="form-control" id="TPL Description" name="TPL_Description" >
                                                                        </div>
                                                                    </div>
                                        
                                                                    <div class="row justify-content-end">
                                                                        <div class="col-sm-9">
                                                                            <div>
                                                                                <button type="submit" class="btn btn-primary w-md" name="submit" value="Add">Add</button>
                                                                                <button type="submit" class="btn btn-primary w-md" name="submit" value="Modify">Modify</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                            </div>
                                                        </div>
                                                        <!-- right column end-->


                                                </div>
                                                </form>
                                                <!-- table start-->
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="card">

                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                        {% comment %} <table class="table table-bordered dt-responsive  nowrap w-100"> {% endcomment %}
                                                                        <table id="datatable-buttons2" class=" table table-bordered nonwrap w-100">
                                                                        <thead>
                                                                        <tr>
                                                                            <th scope="col">#</th>
                                                                            <th scope="col">TPL_Code</th>
                                                                            {% comment %} <th scope="col">Model Code</th> {% endcomment %}
                                                                            {% comment %} <th scope="col">Model Group</th> {% endcomment %}
                                                                            <th scope="col">TPl_Description</th>
                                                                            <th scope="col">Machine_on_AGV</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {% for i in tpl_master_data%}
                                                                            <tr>
                                                                                
                                                                                <td name="counter">{{forloop.counter}}</td>
                                                                                {% comment %} <Td .hidden> {{I.id }}</td> {% endcomment %}
                                                                                <td>{{i.TPL_Code}}</td>
                                                                                {% comment %} <td>{{i.Model_Code}}</td> {% endcomment %}
                                                                                {% comment %} <td>{{i.Model_Group}}</td> {% endcomment %}
                                                                                <td>{{i.TPL_Description}}</td>
                                                                                <td>{{i.Machines_on_AGV}}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- tab pan end-->
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                <!-- company page end -->


            </div>
            <!--End  container-fluid -->
        </div>
        <!-- End Page-content -->

        {% include 'general/footer.html' %}
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

{% include 'general/right_side_bar.html' %}
{% include 'general/vendor_script.html' %}




        <!-- Required datatable js -->
        <script src="{%static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

        <!-- Buttons examples -->
        <script src="{%static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{%static 'libs/jszip/jszip.min.js' %}"></script>
        <script src="{%static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{%static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

        <!-- Responsive examples -->
        <script src="{%static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{%static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- Datatable init js -->
        <script src="{%static 'js/pages/datatables.init.js' %}"></script>
        <script src="{%static 'js/app.js' %}"></script>

  <script>
            $(document).ready(function () {
                $("#datatable").DataTable(),
                $('#datatable-buttons1 thead tr')

                var table = $('#datatable-buttons1').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true,
                    lengthChange: !1,
                    buttons: ["copy", "excel", "pdf", "colvis"],
                    initComplete: function () {

                        this.api().columns(0).every(function () {
                            var column = this;
                            var select = $(' <select class="form-select"><option value=""></option></select>')
                                // .appendTo(myTable.header())
                                .appendTo('#datatable-buttons1 thead tr #sort0')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        })

                        this.api().columns(1).every(function () {
                            var column = this;
                            var select = $(' <select class="form-select"><option value=""></option></select>')
                                // .appendTo(myTable.header())
                                .appendTo('#datatable-buttons1 thead tr #sort1')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        })

                        this.api().columns(2).every(function () {
                            var column = this;
                            var select = $(' <select class="form-select"><option value=""></option></select>')
                                // .appendTo(myTable.header())
                                .appendTo('#datatable-buttons1 thead tr #sort2')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        })

                    },
                }).buttons().container().appendTo("#datatable-buttons1_wrapper .col-md-6:eq(0)");
                $(".dataTables_length select").addClass("form-select form-select-sm")
            });
        </script>
<script>
            $(document).ready(function () {
                $("#datatable").DataTable(),
                $('#datatable-buttons2 thead tr')

                var table = $('#datatable-buttons2').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true,
                    lengthChange: !1,
                    buttons: ["copy", "excel", "pdf", "colvis"],
                    initComplete: function () {

                        this.api().columns(0).every(function () {
                            var column = this;
                            var select = $(' <select class="form-select"><option value=""></option></select>')
                                // .appendTo(myTable.header())
                                .appendTo('#datatable-buttons2 thead tr #sort0')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        })

                        this.api().columns(1).every(function () {
                            var column = this;
                            var select = $(' <select class="form-select"><option value=""></option></select>')
                                // .appendTo(myTable.header())
                                .appendTo('#datatable-buttons2 thead tr #sort1')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        })

                        this.api().columns(2).every(function () {
                            var column = this;
                            var select = $(' <select class="form-select"><option value=""></option></select>')
                                // .appendTo(myTable.header())
                                .appendTo('#datatable-buttons2 thead tr #sort2')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        })

                    },
                }).buttons().container().appendTo("#datatable-buttons2_wrapper .col-md-6:eq(0)");
                $(".dataTables_length select").addClass("form-select form-select-sm")
            });
        </script>
<script>
            $(document).ready(function () {
                $("#datatable").DataTable(),
                $('#datatable-buttons3 thead tr')

                var table = $('#datatable-buttons3').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true,
                    lengthChange: !1,
                    buttons: ["copy", "excel", "pdf", "colvis"],
                    initComplete: function () {

                        this.api().columns(0).every(function () {
                            var column = this;
                            var select = $(' <select class="form-select"><option value=""></option></select>')
                                // .appendTo(myTable.header())
                                .appendTo('#datatable-buttons3 thead tr #sort0')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        })

                        this.api().columns(1).every(function () {
                            var column = this;
                            var select = $(' <select class="form-select"><option value=""></option></select>')
                                // .appendTo(myTable.header())
                                .appendTo('#datatable-buttons3 thead tr #sort1')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        })

                        this.api().columns(2).every(function () {
                            var column = this;
                            var select = $(' <select class="form-select"><option value=""></option></select>')
                                // .appendTo(myTable.header())
                                .appendTo('#datatable-buttons3 thead tr #sort2')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        })

                    },
                }).buttons().container().appendTo("#datatable-buttons3_wrapper .col-md-6:eq(0)");
                $(".dataTables_length select").addClass("form-select form-select-sm")
            });
        </script>

</body>

</html>